In [1]:
#mtcars 데이터셋(mtcars.csv)의

In [2]:
import pandas as pd 
df = pd.read_csv('mtcars.csv')
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
type(df)

pandas.core.frame.DataFrame

In [5]:
x=df['qsec']
x

0     16.46
1     17.02
2     18.61
3     19.44
4     17.02
5     20.22
6     15.84
7     20.00
8     22.90
9     18.30
10    18.90
11    17.40
12    17.60
13    18.00
14    17.98
15    17.82
16    17.42
17    19.47
18    18.52
19    19.90
20    20.01
21    16.87
22    17.30
23    15.41
24    17.05
25    18.90
26    16.70
27    16.90
28    14.50
29    15.50
30    14.60
31    18.60
Name: qsec, dtype: float64

In [6]:
#최소 최대 척도(min-max scale)
#(X - X.min())/(X.max()-X.min)
x.min()

14.5

In [7]:
x.max()

22.9

In [11]:
x_scale = (x-x.min())/(x.max()-x.min())
x_scale

0     0.233333
1     0.300000
2     0.489286
3     0.588095
4     0.300000
5     0.680952
6     0.159524
7     0.654762
8     1.000000
9     0.452381
10    0.523810
11    0.345238
12    0.369048
13    0.416667
14    0.414286
15    0.395238
16    0.347619
17    0.591667
18    0.478571
19    0.642857
20    0.655952
21    0.282143
22    0.333333
23    0.108333
24    0.303571
25    0.523810
26    0.261905
27    0.285714
28    0.000000
29    0.119048
30    0.011905
31    0.488095
Name: qsec, dtype: float64

In [12]:
x_scale_len = len(x_scale[x_scale >= 0.5])
x_scale_len

9

In [13]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

mtcars = pd.read_csv('mtcars.csv')
qsec = mtcars['qsec']
qsec

0     16.46
1     17.02
2     18.61
3     19.44
4     17.02
5     20.22
6     15.84
7     20.00
8     22.90
9     18.30
10    18.90
11    17.40
12    17.60
13    18.00
14    17.98
15    17.82
16    17.42
17    19.47
18    18.52
19    19.90
20    20.01
21    16.87
22    17.30
23    15.41
24    17.05
25    18.90
26    16.70
27    16.90
28    14.50
29    15.50
30    14.60
31    18.60
Name: qsec, dtype: float64

In [16]:
scaler = MinMaxScaler()
minmax = scaler.fit_transform(mtcars.loc[:,['qsec']])
(minmax > 0.5).sum()

9