In [37]:
location = app.geocode('신청평대교')
print(location.latitude,',',location.longitude)

37.721817 , 127.4064049

In [36]:
import pandas as pd
import re

app = Nominatim(user_agent='tutorial')
df = pd.read_csv('2017년10월~2018년03월 경기도 지역별 개체수 분포데이터.csv', encoding='utf8')
latitude = [] #리스트 생성
longitude = [] #리스트 생성
lalo = pd.DataFrame()
for row in df['구분'] : #'구분' 값을 얻어옴  
    row = re.sub('[(].*[)]', '', row)
    location = app.geocode(row) 
    if(location is None):  
        latitude.append('-')
        longitude.append('-')
    else : 
        latitude.append(location.latitude)
        longitude.append(location.longitude)
        
lalo['위도'] = latitude #열에 순차대로 원소를 대입
lalo['경도'] = longitude #열에 순차대로 원소를 대입
update_num = [5,6,9,10,14,16,17,27,32,25,34,7,11]
update_data = ['물안개공원','여주대교','일산대교','행주대교','경기 의왕시 왕송못동로 221','덕우저수지','축만제','원당교','공릉천교','모래톱공원','쪽박산','신청평대교','파주시 장남교']
for index, value in enumerate(update_data) :
    location = app.geocode(value) 
    i = update_num[index]
    lalo.loc[i, '위도'] = location.latitude
    lalo.loc[i, '경도'] = location.longitude
addr = pd.concat([df,lalo],axis=1)
addr[['구분', '위도','경도']]

                                      구분         위도          경도
0                                   조사종수          -           -
1                                    경기도    37.2752    127.0095
2                                    연천군    38.0964    127.0746
3                                 성수-팔당댐          -           -
4                            팔당호(경안천 포함)  37.513865   127.30636
5                             남한강(양평-여주)  37.499091  127.478032
6                             남한강(여주-충주)  37.299762  127.649304
7                           북한강(청평댐-화천교)  37.721817  127.406405
8                                    안양천  37.460635   126.88917
9    한강하구(오두산전망대-일산대교)·김포평야(하성, 사우동)·공릉천  37.651932  126.717441
10  한강하류(일산대교-행주대교)·이화동 일원(홍도평, 이화리, 태리)  37.592878  126.804779
11                       임진강(장남교-오두산전망대)  37.969935  126.893942
12                                   대부도  37.251482   126.60067
13                                   시화호  37.297262  126.669353
14                                 왕송저수지   37.31005  126.950654
15                                 물왕저수지  37.381079   126.83683
16                                 발안저수지  37.170516  126.930732
17                                    서호  37.277483   126.98915
18                                   진위천  37.095972  127.090684
19                                 이동저수지  37.120856  127.201518
20                                 고삼저수지  37.085372  127.298003
21                                   청미천  37.104852   127.53579
22                         남양만(장안면, 우정면)    37.0261  126.795434
23                                   남양호  37.047442  126.873283
24                                   아산만  37.018853  126.693866
25                                   아산호  36.921379  126.924237
26                                   안성천  37.016471  127.307803
27                                 공릉천중류  37.684464  126.866055
28                                  황구지천  37.231032  126.992896
29                                   포천천    37.8245  127.147577
30                                   복하천  37.258144  127.450304
31                                   경안천  37.340793  127.249146
32                                 공릉천하류  37.745301  126.790229
33                                   화성호  37.106182  126.709031
34                                    신천   37.41414  126.755588
35                                  원천리천  37.251331  127.042737

In [10]:
df

,구분,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,평균
0,조사종수,113,104,123,117,117,118,115.33
1,경기도,"110,282","124,074","155,500","168,324","134,607","124,194","136,163.50"
2,연천군,0,0,"5,196","3,060","6,200",0,"2,409.33"
3,성수-팔당댐,0,0,"2,475","3,588","2,982",0,"1,507.50"
4,팔당호(경안천 포함),"4,021","4,126","1,105","1,202",546,"3,687","2,447.83"
5,남한강(양평-여주),0,0,"4,373","6,934","3,906",0,"2,535.50"
6,남한강(여주-충주),"3,794","8,669","8,796","10,553","12,337","13,005","9,525.67"
7,북한강(청평댐-화천교),0,0,"1,100","1,015",947,0,510.33
8,안양천,"3,318","3,927","3,669","2,648","2,848","1,594","3,000.67"
9,"한강하구(오두산전망대-일산대교)·김포평야(하성, 사우동)·공릉천","1,535","6,657","17,609","19,160","14,771","1,491","10,203.83"
10,"한강하류(일산대교-행주대교)·이화동 일원(홍도평, 이화리, 태리)","9,880","8,684","16,774","13,824","11,789","7,859","11,468.33"
11,임진강(장남교-오두산전망대),"11,519","36,047","17,078","28,436","18,417","38,018","24,919.17"
12,대부도,0,0,"7,075","3,232","6,762",0,"2,844.83"
13,시화호,"45,347","23,082","8,382","9,083","3,423","20,632","18,324.83"
14,왕송저수지,0,0,"1,757",491,493,0,456.83
15,물왕저수지,0,0,0,0,0,0,NaN
16,발안저수지,0,0,282,160,507,0,158.17
17,서호,0,0,"2,961","1,302","1,186",0,908.17
18,진위천,0,0,"6,093","5,140","2,550",0,"2,297.17"
19,이동저수지,0,0,266,"1,232",545,0,340.50
20,고삼저수지,0,0,"1,270",859,"1,357",0,581.00
21,청미천,"2,015","1,223","1,779","8,242","4,267","2,837","3,393.83"
22,"남양만(장안면, 우정면)","19,107","17,414","14,729","17,663","14,529","23,275","17,786.17"
23,남양호,"2,552","2,864","5,607","9,581","2,272","1,592","4,078.00"
24,아산만,0,0,"6,593","3,924","3,324",0,"2,306.83"
25,아산호,"2,140","4,306","7,226","7,090","10,208","2,852","5,637.00"
26,안성천,"1,395",917,"1,454","2,545","1,128",946,"1,397.50"
27,공릉천중류,"1,182","2,479","3,547","1,993","2,855","1,366","2,237.00"
28,황구지천,"1,061","1,244","4,928","2,859","1,490","2,101","2,280.50"
29,포천천,642,639,490,815,848,565,666.50
30,복하천,774,"1,796","2,886","1,693","2,120","2,374","1,940.50"
31,경안천,0,0,0,0,0,0,NaN
32,공릉천하류,0,0,0,0,0,0,NaN
33,화성호,0,0,0,0,0,0,NaN
34,신천,0,0,0,0,0,0,NaN
35,원천리천,0,0,0,0,0,0,NaN

In [1]:
from geopy.geocoders import Nominatim
from pprint import pprint
import re
app = Nominatim(user_agent='tutorial')
def getlalo(df):
    latitude = [] #리스트 생성
    longitude = [] #리스트 생성
    lalo = pd.DataFrame()
    for row in df['구분'] : #'구분' 값을 얻어옴  
        row = re.sub('[(].*[)]', '', row)
        location = app.geocode(row) 
        if(location is None):  
            latitude.append('-')
            longitude.append('-')
        else : 
            latitude.append(location.latitude)
            longitude.append(location.longitude)

    lalo['위도'] = latitude #열에 순차대로 원소를 대입
    lalo['경도'] = longitude #열에 순차대로 원소를 대입
    update_num = [2,16,17,18,19,20]
    update_data = ['일선교','방어진항','영일대해수욕장','대진항','구산 해수욕장','고포해수욕장']
    for index, value in enumerate(update_data) :
        location = app.geocode(value) 
        i = update_num[index]
        lalo.loc[i, '위도'] = location.latitude
        lalo.loc[i, '경도'] = location.longitude
    addr = pd.concat([df,lalo],axis=1)
    return addr

In [4]:
# import pandas as pd
# import re
# files = ['2018년~2022년 년도별 경기도 지역별 개체수 분포통계','2017년10월~2018년03월 경기도 지역별 개체수 분포데이터','2017년10월~2018년03월 경기도 지역별 개체수 분포데이터','경상북도 지역별 개체수 분포데이터 2019년10월~2020년03월','경상북도 지역별 개체수 분포데이터 2020년10월~ 2021년03월','경상북도 지역별 개체수 분포데이터 2021년10월~2022년03월']

# for f in files:
#     f1=f+'.csv'
#     df = pd.read_csv(f1, encoding='utf8')
#     addr = getlalo(df)
#     addr.to_csv(f+'_위경도추가.csv', encoding='CP949')